body {
    background: url('apartment.jpg');
}

.panel-transparent {
    background: white;
    opacity: 0.9;
}

.panel-transparent .panel-heading{
    background: rgba(122, 130, 136, 0.2)!important;
}

.panel-transparent .panel-body{
    background: rgba(46, 51, 56, 0.2)!important;
}