#firstSlide {
	background-image: url(apartment1.jpeg);
  	background-size: cover;
  	height: 700px;
	background-repeat: no-repeat;
	background-position: center;
}

#secondSlide {
	background-image: url(apartment2.jpeg);
  	background-size: cover;
  	height: 700px;
	background-repeat: no-repeat;
	background-position: center;
}

#thirdSlide {
	background-image: url(apartment3.jpeg);
  	background-size: cover;
  	height: 700px;
	background-repeat: no-repeat;
	background-position: center;
}

#fourthSlide {
	background-image: url(apartment4.jpeg);
  	background-size: cover;
  	height: 700px;
	background-repeat: no-repeat;
	background-position: center;
}

#fifthSlide {
	background-image: url(apartment5.jpeg);
  	background-size: cover;
  	height: 700px;
	background-repeat: no-repeat;
	background-position: center;
}

#sixthSlide {
	background-image: url(apartment6.jpeg);
  	background-size: cover;
  	height: 700px;
	background-repeat: no-repeat;
	background-position: center;
}

#registerSlide {
	background-image: url(register.jpeg);
  	background-size: cover;
  	height: 700px;
	background-repeat: no-repeat;
	background-position: center;
}


#calculatingSlide {
	background-color: #474851;
	font-size: 1.2em;
}

#continue {
	width: 200px;
}

.outer-div {
     padding: 150px;
     height: 700px;
}

.inner-div {
    margin: 0 auto;
    max-width: 400px; 
    background-color: rgba(229,229,229,.9);
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right:20px;
    border-radius: 10px;
    text-align: center;
}

li {
	width: 100%;
	height: 700px;
    margin: 0 auto;
}

input[type=button], input[type=submit] {
	width: 250px;
	background-color: #474851; 
	color: white; 
	padding: 12px 15px;
	margin: 8px 0; 
	border: none; 
	border-radius: 5px; 
	cursor: pointer; 
	font-size: 1em;
	letter-spacing: 1px;
}

p, span {
	font-size: 1.2em;
	color: #474851;
}

h2 {
	font-size: 1.2em;
	color: #474851;
}
